.header__logo {
  width: 176px;
  height: 52px;
  background: url(../../../images/logo/header-logo.svg) no-repeat center/cover;

  transition: .3s ease-in;
}

.header__logo:hover {
  opacity: 0.8;
}

@media screen and (max-width: 380px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}