.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  color: white;
  text-align: center;

  max-width: 720px;
  margin: 56px 0 0;
}

@media screen and (max-width: 1030px) {
  .lead__title {
    margin: 48px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    margin: 48px 24px 0;
    line-height: 1.1;
  }
}

@media screen and (max-width: 730px) {
  .lead__title {
    font-size: 80px;
  }
}

@media screen and (max-width: 610px) {
  .lead__title {
    font-size: 56px;
  }
}

@media screen and (max-width: 500px) {
  .lead__title {
    font-size: 44px;
  }
}

@media screen and (max-width: 450px) {
  .lead__title {
    margin: 48px 16px 0;
    font-size: 40px;
  }
}