.header__text {
  margin: 0;
  padding: 18px 18px 6px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.header__text:nth-child(2) {
  padding: 18px 0 6px 0; 
}

.header__text.active {
  text-decoration: underline;
}

@media screen and (max-width: 380px) {
  .header__text {
    font-size: 18px;
    line-height: 20px;
    padding-top: 16px;
  }
}