.header__text {
  margin: 18px 18px 6px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: rgb(255, 255, 255);
  text-decoration: none;

  transition: .3s ease-in;
}

.header__text:hover {
  opacity: 0.8;
}

.header__text:nth-child(2) {
  margin: 18px 0 6px 0; 
}

@media screen and (max-width: 380px) {
  .header__text {
    font-size: 18px;
    line-height: 20px;
  }
}