.root {
  font-family: 'Inter', Arial, sans-serif;
  color: rgb(151, 151, 151);
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2A2C2F;


  /* -----text----- */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 

  text-rendering: optimizeLegibility;
  /* ---------- */
}