.cover {
  max-width: 1184px;

  aspect-ratio: 1.6;
  height: auto;

  margin: 92px auto 0;

  background: url(../../images/cover-trains.jpg) no-repeat center/cover;
}

@media screen and (max-width: 780px) {
  .cover {
    margin: 90px auto 0;
  }
}

@media screen and (max-width: 660px) {
  .cover {
    margin: 80px auto 0;
  }
}

@media screen and (max-width: 460px) {
  .cover {
    margin: 66px auto 0;
  }
}