.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;

  color: #FFFFFF;
  margin: 0;
  /* margin: 245px 0 0; */
  max-width: 560px;
  z-index: 22;
}

@media screen and (max-width: 620px) {
  .cover__title {
    font-size: 56px;
    line-height: 1.06;
  }
}

@media screen and (max-width: 450px) {
  .cover__title {
    font-size: 40px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 380px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }
}