.cover__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  aspect-ratio: 1.6;
  height: auto;

  text-decoration: none;

  position: relative;
  z-index: 0;
}

.cover__links::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 44, 47, 0.3);
  z-index: -1;

  transition: background-color 0.3s ease-in;  
}

.cover__links:hover::before {
  background-color: rgba(42, 44, 47, 0.8);
}